@charset "utf-8";

body {
  background-color: rgb(206, 187, 19);
  color:rgb(0,0,0);
}

body > section#text {
  padding: 20px;
  border: 10px solid black;
  text-align: center;
  background-color: rgb(49, 48, 36);
}

footer {
  background-color: brown;
  display: block;
  padding: 10px;
  width:100%;
  height: 300px;
  margin:30%;
  text-align:center;
}

body > header {
  background-color: brown;
}

footer section#copyright{
  color: rgb(206, 187, 19);
  font: sans-serif;
  text-align:center;
  padding: 20px;
}

footer::after {
   clear: both;	
   content: "";
   display: table;
}

a:link {
  color: black;
}

