html {
  background-image: url(../png/black.png);
}

body {
  background-color: rgb(230, 230, 189);
  color:rgb(0,0,0);
  border-left: 80px solid rgb(0,0,0);
  border-right: 80px solid rgb(0,0,0);
  text-align: center
}

img {
  background-color: rgb(49, 8, 8);
}

body > header > h1 {
  font-size:30px;
  color: orangered;
  background-color: rgb(49, 8, 8);
}

body > header {
  background-color:rgb(49, 8, 8);
  text-align: left;
}

body > article > section {
  font-size: 4px;
font-weight: 100;
}

aside {
  border: 4px double rgb(0,0,0);
  border-radius: 30px;
}

footer {
  text-align: center;
  color:orangered;
  background-color: black;
  padding: 10px;
  font-size: 15px;
}

body > section > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section#erad {
  font-size: 1.2em;
  font-weight: bold;
  width: 30%;
  height: 22%;
  margin: auto;
  border: 20px solid rgb(32, 32, 32);
  background-color: rgb(0, 71, 4);
  color:red;
  text-align: center;
}

section#jumper {
  font-size: 1.2em;
  width: 24%;
  height: 24%;
  margin: auto;
  border: 20px solid rgb(31, 31, 31);
  background-color: rgb(78, 78, 78);
  color:red;
  text-align: center;
}

section#VX {
  font-size: 1.2em;
  width: 20%;
  height: 20%;
  margin: auto;
  border: 20px solid rgb(59, 39, 39);
  background-color: rgb(88, 88, 88);
  color:rgb(255, 0, 98);
  text-align: center;
}

section#gods {
  font-size: 1.2em;
  width: 35%;
  height: 40%;
  margin: auto;
  border: 20px solid rgb(59, 39, 39);
  background-color: rgb(88, 88, 88);
  color: rgb(30, 49, 30);
  text-align: center;
}

section > figcaption >b#phoebus {
  border: 5px solid rgb(255, 145, 0);
  background-color: rgb(255, 0, 0);
  color: rgb(35, 35, 48);
  text-align: center;
}

section > figcaption >b#zeus {
  border: 5px solid rgb(0, 0, 0);
  background-color: rgb(251, 255, 0);
  color: rgb(35, 35, 48);
  text-align: center;
}

section > figcaption >b#artemis {
  border: 5px solid  rgb(0, 174, 255);
  background-color: rgb(255, 255, 255);
  color: rgb(35, 35, 48);
  text-align: center;
}

section#RobloxDrama {
  width: 35%;
  height: 40%;
  margin: auto;
  border: 20px solid rgb(126, 23, 23);
  background-color: rgb(126, 126, 126);
  color: rgb(30, 49, 30);
  text-align: center;
}

section#orderinary {
  width: 18%;
  height: 20%;
  margin: auto;
  border: 20px solid rgb(46, 53, 59);
  background-color: rgb(83, 81, 68);
  color: rgb(30, 49, 30);
  text-align: center;
}

figcaption {
  font-size: large 1.2em;
}